In [1]:
DATA_PATH = '../data/raw/survey_results_public.csv'

In [2]:
import pandas as pd 
import numpy as np
pd.options.display.max_rows = 10000

In [3]:
# Read data and print shape
raw_df = pd.read_csv(DATA_PATH)
raw_df.shape

(83439, 48)

In [4]:
# Display random answer 
# Observations: Multiple answers need to be splitted 
# Reference to the schema needed to understand
raw_df.sample(1).iloc[0]

ResponseId                                                                  26921
MainBranch                                         I am a developer by profession
Employment                                                     Employed full-time
Country                                                                  Colombia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                                        Professional degree (JD, MD, etc.)
Age1stCode                                                          25 - 34 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                      10
YearsCodePro                                                                   10
DevType                         Developer, mobile;Developer, front-end;Develop...
OrgSize                                                  10,000 or more employees
Currency                                                      COP\tColombian peso
CompTotal                                                                     NaN
CompFreq                                                                  Monthly
LanguageHaveWorkedWith          C#;Dart;HTML/CSS;Java;JavaScript;Node.js;PHP;S...
LanguageWantToWorkWith                          C#;Dart;JavaScript;SQL;TypeScript
DatabaseHaveWorkedWith          Firebase;MariaDB;Microsoft SQL Server;MySQL;Or...
DatabaseWantToWorkWith          Firebase;MariaDB;Microsoft SQL Server;MySQL;Or...
PlatformHaveWorkedWith                                            Microsoft Azure
PlatformWantToWorkWith          AWS;Google Cloud Platform;IBM Cloud or Watson;...
WebframeHaveWorkedWith          Angular;Angular.js;ASP.NET;ASP.NET Core ;jQuer...
WebframeWantToWorkWith          Angular;ASP.NET;ASP.NET Core ;jQuery;Laravel;S...
MiscTechHaveWorkedWith          .NET Framework;.NET Core / .NET 5;Cordova;Flut...
MiscTechWantToWorkWith          .NET Framework;.NET Core / .NET 5;Flutter;Tens...
ToolsTechHaveWorkedWith                                Git;Unity 3D;Unreal Engine
ToolsTechWantToWorkWith            Docker;Git;Unity 3D;Unreal Engine;Xamarin;Yarn
NEWCollabToolsHaveWorkedWith    Android Studio;Eclipse;NetBeans;Notepad++;Visu...
NEWCollabToolsWantToWorkWith    Android Studio;IntelliJ;NetBeans;Notepad++;Sub...
OpSys                                                                     Windows
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
NEWSOSites                                          Stack Overflow;Stack Exchange
SOVisitFreq                                                 Daily or almost daily
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                                    Neutral
NEWOtherComms                                                                 Yes
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                         NaN
Sexuality                                                                     NaN
Ethnicity                                                  Hispanic or Latino/a/x
Accessibility                                                   None of the above
MentalHealth                                                                  NaN
SurveyLength                                                Appropriate in length
SurveyEase                                             Neither easy nor difficult
ConvertedCompYearly                                                           NaN
Name: 26920, dtype: object

In [5]:
# Print the general information of the data frame 
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [6]:
# Get stats for the numerical column
raw_df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [7]:
# Investigate the questionable objects columns
questionable_cols = ['YearsCodePro', 'YearsCode']

for col in questionable_cols: 
    print(col)
    print(raw_df[col].unique().tolist())
    print('--------------------------')
    print()

YearsCodePro
[nan, '10', '4', '5', '6', '2', '30', '9', '18', '12', '21', '1', '16', 'Less than 1 year', '15', '3', '35', '7', '8', '17', '14', '26', '25', '20', '50', '34', '11', '24', '22', '13', '31', '23', '39', '41', '27', '28', '19', '33', 'More than 50 years', '37', '29', '32', '43', '40', '38', '45', '42', '46', '36', '44', '47', '48', '49']
--------------------------

YearsCode
[nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9', '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22', '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38', 'More than 50 years', '27', '41', '42', '35', '23', '28', '11', '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47', '49', '48']
--------------------------